        body{
            font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif !important;
            font-style: normal;
        }

        .homeLogoSize{
            height: 46px !important;
            width: 197px !important;
            position: relative !important;
            top: -12px !important;
        }
        .navbar-default{
            background-color: #ffffff;
            border-color:#ffffff
        }
        .navbar-default .navbar-nav>li>a{
            color:#115489 !important;
            font-weight:bold;
        }
        .enter{
            padding: 3px;
        }
        .no-pad{
            padding-left:0px;
            padding-right:0px;
        }
        .pad{
            padding-left:5px;
            padding-right:5px;
        }
        .top5{
            position: relative;
            top:-5px;
        }
        .padTop{
            padding-top:5px;
            padding-bottom: 5px;
        }
        .no-margin{
            margin-left:0px;
            margin-right:0px;
        }
        .margin{
            margin-left:5px;
            margin-right:5px;
        }
        .wrapper{
            background-color: #f5f5f5;
        }
        .sliderImage{
            width: 100%;
            height: 290px !important;
            max-height: 290px !important;
        }
        .wrapper h2{
            color:#3573a3;
            font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif !important;
            font-weight: bold;
        }
        .viewAllSubjects{
            border-radius: 2px;
            box-shadow: 1px 1px 1px 1px #3573a3;
            position: relative;
            top:10px;
        }
        #card {
            background: #fff;
            position: relative;
            -webkit-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
            -moz-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
            box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;	
        }

        .subjectCard {
            position: relative;
             min-height: 200px;
        }

        figure {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            border-bottom: 16px solid #065784;
            z-index: 1;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        article:hover{
            opacity: 0.7;
             -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .subjectName {
            font-size: 18px;
            display: block;
            position: absolute;
            bottom: 0px;
            width: 100%;
            font-weight: bold;
            z-index: 100;
            background-color: #065784;
            color:#fff;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .subjectDescription {
            border-bottom: 5px solid #008800;
        }

        .subjectDescription h1 {
            font-size: 14px;
            text-transform: capitalize;
            line-height: 18px;
            color:#6d5858;
        }

        .subjectDescription img{
            height: 35px;
            width: 130px;
            text-align: center;
        }
        
        .testimonialContents h1{
            font-size:18px;
            color:#3573a3;
            font-weight: bold;
        }
        .testimonialContents{
            border-right: 5px solid black;
        }

        .profile-card{
            border: 1px solid #f7f7f7;
            box-shadow: 4px 4px 4px 4px #cccccc;
        }

        .profile-info {
                color: #3573a3;
                position: relative;
                        }
.testimonialDescription{
    padding: 5px;
}
        .testimonialDescription p{
          display: block; /* or inline-block */
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          max-height: 3.6em;
          line-height: 1.2em;
        }
.maxContent{
          overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 2;        /* fallback */
   max-height: 2*2;       /* fallback */
}
        .profile-card img{
            height: 108px;
        }
        .latestVideos hr{
            border: 1px solid #dad7d7;
        }

.footer {
    background-color: #252525;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: center;
}

/*Login Dashboard*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	.main{
		padding: 10px 10px 0 10px;
	}

	@media (min-width: 768px) {
	.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		nav.sidebar:hover + .main{
		}

		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		nav.sidebar a{
			padding-right: 13px;
		}

		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		nav.sidebar{
			width: 200px;
			height: auto%;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		nav.sidebar li {
			width: 100%;
		}

		nav.sidebar:hover{
			margin-left: 0px;
		}
		.forAnimate{
			opacity: 0;
		}
	}

	@media (min-width: 1330px) {

		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}
.fnt22{
    font-size: 22px;
}

.fnt24{
    font-size: 24px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #ebebeb;
}
.navbar-inverse{
    background-color: white;
    border-color:rgba(255, 0, 0, 0);
}
.background{
    background-color: #ffffff !important;
    height: 100%;
}
.background ul li a{
    color:#3573a3;
}
.txtBlue{
    color:#3573a3 !important;
}
.darkBlue{
    color:#1a31ef !important
}
.bold{
    font-weight: bold;
}
.noBorderRadius{
    border-radius: 0px;
}
.green{
    color:#008800 !important;
}
.lightBlue{
    color:#6086b7
}
.black{
    color:#000000 !important;
}
.white{
    color:#ffffff !important;
}
.bigHeading{
    font-size:20px;
    text-decoration: underline !important;
}
.greenBackground{
    background-color: #008800 !important;
}
.subjectDescriptionDashboard h1 {
            font-size: 16px;
            text-transform: capitalize;
            line-height: 18px;
            color:#6d5858;
        }

.subjectDescriptionDashboard h2 {
            font-size: 14px;
            text-transform: capitalize;
            line-height: 18px;
            color:#9c9b9b;
        }
hr{
    margin-bottom:0px;
}
.yourClasses h3{
    color:#3573a3;
}



/*LoginDashboardDetails*/
.danger{
    color:red !important;
}
.fa-2x {
font-size: 2em;
    color: #3573a3;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
    color: #3573a3;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#fbfbfb;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #ffffff;
width: 100%;
height: 100%;
}

div.treeview {
    min-width: 100px;
    min-height: 100px;
    max-height: 610px;
    overflow:auto;
	padding: 4px;
	margin-bottom: 20px;
	color: #369;
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    
	color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
        bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    font-weight:700;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;
    
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;
    
    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
.panel-default{
    width:100%;
    border-color:rgba(221, 221, 221, 0);
    height:auto !important;
}

/*Discussions*/


#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}
.page-header { position: relative; margin:0px !important;border: 0px !important }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');    
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}



/*Title Dashboard*/

.titleDashboardHeading{
    background-image: url("../img/cloud.jpg") !important;
    background-size: cover;
}
.titleContent{
    position: relative;
    top:-29;
}

.columns {
    cursor:pointer;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
    transition: all .2s ease-in-out;
}

.price li {
    border-bottom: 1px solid #eee;
    padding:12px;
    text-align: center;

}
.highlight { transition: 0.3s;}

.price .grey {
    background-color: #eee;
    transition: all .2s ease-in-out;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: all .2s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.panel-primary{
    margin: 0 auto !important;
    width: 67% !important;
}
.learnMore{
    border:1px solid #f5f5f5;
    overflow: scroll;
    height: 50%;
    padding: 20px;
    width: 90%;
}